body {
    margin: 0;
    padding: 0;
}

.parallax-parent {
    perspective: 1px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective-origin: center center;
}

.parallax-group {
    transform-style: preserve-3d;
}

div img {
    width: 30%;
    padding-top: 25%;
    padding-bottom: 25%;
}

.layer1 {
    transform: translateZ(0px);
    margin: 0 auto;
}
.layer2 {
    transform: translateZ(-1px);
    margin: 0 auto;
}
.layer3 {
    transform: translateZ(-2px);
    margin: 0 auto;
}

.green-background {
    background: #25ff9d8a;
}
.red-background {
    background: rgba(255, 60, 60, 0.527);
}
.blue-background {
    background: rgba(58, 58, 255, 0.514);
}