body {
    margin: 0;
    padding: 0;
}

.parallax-parent {
    perspective: 1px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective-origin: center center;
/* 
    justify-content: center;
    align-items: center; */
}

div img {
    width: 30%;
    padding-top: 25%;
    padding-bottom: 25%;
}

.layer1 {
    transform: translateZ(0px);
    margin: 0 auto;
}
.layer2 {
    transform: translateZ(-1px);
    margin: 0 auto;
}
.layer3 {
    transform: translateZ(-2px);
    margin: 0 auto;
}